<a href="https://colab.research.google.com/github/kavithabantupalli/Python_basic/blob/main/Phase2ACCENTURE_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#print the count of string  with out first and last
s=input()
count=0
li=""
for i in s:
    if count>=1 and count<len(s)-1:
        li=li+i
    count=count+1
print(li)
print(len(li))

kavitha
avith
5

In [ ]:
#oops concept single inheritance
class Account:
    def __init__(self, account_number, balance=0, interest_rate=0.02):
        self.account_number = account_number
        self.balance = balance
        self.interest_rate = interest_rate

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited: ${amount:.2f}, New balance: ${self.balance:.2f}")
        else:
            print("Invalid deposit amount.")

    def withdraw(self, amount):
        if 0 < amount <= self.balance:
            self.balance -= amount
            print(f"Withdrawn: ${amount:.2f}, New balance: ${self.balance:.2f}")
        else:
            print("Insufficient funds or invalid withdrawal amount.")

    def get_balance(self):
        return self.balance

    def get_interest_rate(self):
        return self.interest_rate

class SavingsAccount(Account):
    def __init__(self, account_number, balance=0, interest_rate=0.03):
        super().__init__(account_number, balance, interest_rate)

    def calculate_interest_earned(self):
        interest_earned = self.balance * self.interest_rate
        return interest_earned

savings_account = SavingsAccount("1234567890", 1000)
savings_account.deposit(500)
savings_account.withdraw(200)
print(f"Balance: ${savings_account.get_balance():.2f}")
interest_earned = savings_account.calculate_interest_earned()
print(f"Interest Earned: ${interest_earned:.2f}")

Deposited: $500.00, New balance: $1500.00
Withdrawn: $200.00, New balance: $1300.00
Balance: $1300.00
Interest Earned: $39.00

In [ ]:
#print the frequency value in the given array
arr=input().split(",")
li=""
count=0
for i in arr:
  if i not in li:
    li=li+i
  else:
    count=count+1
print("frequent_value",i)

2,3,5,1,7,4,3,4
frequent_value 4

In [ ]:
#print peak element from the given value and index of it
arr=input().split(",")
ma=max(arr)
index=arr.index(ma)
print("MAX:",ma)
print("INDEX:",index)

3,5,7,8,9,3,4,5
MAX: 9
INDEX: 4

In [ ]:
#take two  list ,l1=[1,2,3,0,0,0], l2=[2,3,4] and sort the list and merge it with empty "0" in the l1

l1=input().split(",")
l2=input().split(",")
l3=l1+l2
l3.sort()
print(" ".join(l3))

3,2,4,0,0,0
3,5,7
0 0 0 2 3 3 4 5 7

In [ ]:
l1=input().split(",")
l2=input().split(",")
n=3
for i in range(n,len(l1)):
  l1[i]=l2[i-len(l2)]
print(" ".join(sorted(l1)))

2,3,4,0,0,0
4,5,5
2 3 4 4 5 5

In [ ]:
#add of neibhours we need to get target and what are the neibhour
arr=list(map(int,input().split(",")))
target=int(input())
for i in range(len(arr)-1):
  if arr[i]+arr[i+1]==target:
    print(arr[i],arr[i+1])

1,2,3,4,5
7
3 4

In [ ]:
#take a string and consider the words of spaces and print the last word length
s=input().split()
for i in s:
    i=i[::-1]
    print(len(i))

hello kavi
5
4

In [ ]:
#print the last word length
s = input().split()
for i in range(len(s)):
    s[i] = s[i][::-1]
print(len(s[-1]))

hlo word
4

In [ ]:
#count print the sequence of character in the
#string abcd dbdeffcdAABBTR count of each
s=input()
li=""
count=0
for i in s:
  if i.lower() not in li:
    li=li+i
print(li)

abcd dbdeffcdAABBTR
abcd efTR

**Exception handling**

In [ ]:
#we need to create a class ATM, balance variable and withdraw the amount and print the balance
class ATM:
  def __init__(self, balance):
    self.balance = balance

  def withdraw(self, amount):
    if amount > self.balance:
      raise Exception("Insufficient balance")
    self.balance -= amount

initial_balance = int(input("Enter initial balance: "))
atm = ATM(initial_balance)

try:
  amount = int(input("Enter amount to withdraw: "))
  atm.withdraw(amount)
  print("Balance after withdrawal: ", atm.balance)
except Exception as e:
  print(e)

Enter initial balance: 100
Enter amount to withdraw: 300
Insufficient balance

In [ ]:
# check the user is eligible for vote
n=int(input("list of users: "))
for age in range(n):
  try:
   age= int(input("Enter a age of user: "))
   if age>=18:
     print("Eligible to vote")
   else:
     raise Exception("Not eligible to vote")
  except Exception as e:
     print("The age must be greater than 18 to vote")

list of users: 2
Enter a age of user: 18
Eligible to vote
Enter a age of user: 14
The age must be greater than 18 to vote

In [ ]:
#check the user is eligible for vote
try:
  age = int(input())
  if age>=18:
    print("eligible to vote")
  else:
    raise Exception("not eligible to vote")
except Exception as e:
    print("the age must be greater than 18 to vote")

17
the age must be greater than 18 to vote

In [ ]:
#create the matrix find out the target in the matrix  if u find print true or false
matrix=[[1,4,7,11,15],[2,5,6,12,19],[3,6,9,16,22],[10,13,14,17,24],[18,21,23,26,30]]
print(matrix)
target=int(input())
for i in matrix:
  for j in i:
    if j==target:
      print("true")
    else:
     print("false")

[[1, 4, 7, 11, 15], [2, 5, 6, 12, 19], [3, 6, 9, 16, 22], [10, 13, 14, 17, 24], [18, 21, 23, 26, 30]]
6
false
false
false
false
false
false
false
true
false
false
false
true
false
false
false
false
false
false
false
false
false
false
false
false
false

In [ ]:
#given an integer n ,return true if it is a power of two
n=int(input())
print(2**n)

0
1

In [ ]:
#take an array and k ,print the k largest position ,solve it without sort [3,2,1,5,6,4]  k=2
arr=input().split(",")
k=int(input())
arr.sort()
print(arr)
print(arr[-k])

3,2,1,5,6,4
2
['1', '2', '3', '4', '5', '6']
5