<a href="https://colab.research.google.com/github/kavithabantupalli/Python_basic/blob/main/Phase2ACCENTURE_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**function**

In [ ]:
#create a array N with positive and negative numbers and sort the array by using the def input: 20 -11 30 -45 50  output:-11 -45 20 30 50
def fun(arr):
  arr.sort()
  return arr

arr=[20,-11,30,-45,50]
print(fun(arr))

[-45, -11, 20, 30, 50]

In [ ]:
#create a array N with positive and negative numbers and sort the array by using the def input: 20 -11 30 -45 50  output:-11 -45 20 30 50
def fun(arr):
  pos=[]
  neg=[]
  for i in arr:
    if i>0:
      pos.append(i)
    else:
      neg.append(i)
  return neg+pos
arr=list(map(int,input().split()))
print(fun(arr))
#arr=[20,-11,30,-45,50]

20 -11 30 -45 50
[-11, -45, 20, 30, 50]

In [ ]:
#create a arr and by using the for loop find out the max and min  def
def fun(arr):
  x=arr[0]
  y=arr[0]
  for i in arr:
    if i>x:
      x=i
    elif i<y:
      y=i
  return x,y
arr=list(map(int,input().split()))
print(fun(arr))

20 10 30 75 44 22
(75, 10)

In [ ]:
#take a two arr and find out  length union (combine) and intersection (same) using def
def fun(arr1,arr2):
  x=set(arr1)
  y=set(arr2)
  return len(list(x.union(y))),len(list(x.intersection(y)))

arr1=list(map(int,input().split()))
arr2=list(map(int,input().split()))
print(fun(arr1,arr2))

1 24 67 89
34 1 22 66
(7, 1)

In [ ]:
#take a two arr and find out union (combine) and intersection (same) using def using for loop
def fun(arr1,arr2):
  x=set(arr1)
  y=set(arr2)
  print("union: ",x.union(y),len(list(x.union(y))))
  for i in x:
    if i in y:
      print("intersection: ",i)

arr1=list(map(int,input().split()))
arr2=list(map(int,input().split()))
print(fun(arr1,arr2))

3 4 54 666
34 55 67 4
union:  {34, 3, 4, 67, 54, 55, 666} 7
intersection:  4
None

In [ ]:
#take  a array and change the position of arr in clockwise direction input: 1 2 3 4 5 output: 5 1 2 3 4
def fun(arr):
  x=arr[-1]
  for i in range(len(arr)-1,0,-1):
    arr[i]=arr[i-1]
  arr[0]=x
  return arr

arr=list(map(int,input().split()))
print(fun(arr))

1 2 3 4 5
[5, 1, 2, 3, 4]

In [ ]:
def fun(arr):
  x=arr[-1]
  return [x]+arr[0:-1]

arr=list(map(int,input().split()))
print(fun(arr))

1 2 3 4 5
[5, 1, 2, 3, 4]

**patterns**

In [ ]:
#square
n=int(input())
for i in range(n):
  print("*"*n)
print()

5
*****
*****
*****
*****
*****

In [ ]:
#triangle_1
n=int(input())
for i in range(n+1):
  print("*"*i)
print()

5

*
**
***
****
*****

In [ ]:
#tringle_2
n=int(input())
for i in range(n+1):
  print(" "*(n-i)+"*"*i)
print()

5

    *
   **
  ***
 ****
*****

In [ ]:
#tringle_3
n=int(input())
for i in range(n+1):
  print("*"*(n-i)+" "*i)
print()

5
*****
****
***
**
*

In [ ]:
#tringle_4
n=int(input())
for i in range(n+1):
  print(" "*i+"*"*(n-i))
print()

5
*****
 ****
  ***
   **
    *

In [ ]:
#triangle_5
n=int(input())
for i in range(n+1):
  print(" "*(n-i)+"*"*i)
for j in range(n+1):
  print(" "*j+"*"*(n-j))
print()

6

     *
    **
   ***
  ****
 *****
******
******
 *****
  ****
   ***
    **
     *

In [ ]:
#triangle_6
n=int(input())
for i in range(n+1):
  print("*"*i)
for j in range(n+1):
  print("*"*(n-j)+" "*j)
print()

7

*
**
***
****
*****
******
*******
*******
******
*****
****
***
**
*

In [ ]:
#triangle_8
n=int(input())
for i in range(n):
  print(" "*(n-i)+"*"*(2*i+1))
print()

8
        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************

In [ ]:
#triangle_9
n=int(input())
for i in range(n):
  print(" "*(i+1)+"*"*(2*(n-i)-1))
print()

7
 *************
  ***********
   *********
    *******
     *****
      ***
       *

In [ ]:
#diamond
n=int(input())
for i in range(n+1):
  print(" "*(n-i)+"*"*(2*i+1))
for j in range(n+1):
  print(" "*(j+1)+"*"*(2*(n-j)-1))
print()

9
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [ ]:
#hollow sphere
n=int(input())
for i in range(n):
  for j in range(n):
    if i==0 or i==n-1 or j==0 or j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()
print()

5
* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
#jumping the steps 1,2,3
def fun(step):
  if step%6==0 or step%6==1 or step%6==3:
    print("True")
  else:
    print("False")
  return " "
step=int(input())
print(fun(step))

12
True

In [ ]:
#seating arrangement in train 78 seats check the seat number is window, middle,aisle
def fun(seat):
  if  seat==1 or seat%5==0 or seat%5==4 or seat==78:
    print("window")
  elif seat==2 or seat%5==1:
    print("middle")
  else:
    print("aisle")
  return " "
seat=int(input())
print(fun(seat))

75
window

In [ ]:
#reverse of number
n=int(input())
rev=0
while n>0:
  rem=n%10
  rev=rev*10+rem
  n=n//10
print(rev)

765
567

In [ ]:
#simple code for reverse the number
n=int(input())
print(str(n)[::-1])

456
654

In [ ]:
#palindrome or not
n=int(input())
temp=n
rev=0
while n>0:
  rem=n%10
  rev=rev*10+rem
  n=n//10
if temp==rev:
  print("palindrome")
else:
  print("not palindrome")

45654
palindrome

In [ ]:
#Arm strong number
n=int(input())
n=str(n)
l=len(n)
sum=0
for i in n:
  sum=sum+int(i)**l
if sum==int(n):
  print("arm strong")
else:
  print("not arm strong")

123
not arm strong

In [ ]:
#X_pattern
def print_x_pattern(s1, s2):
   length = len(s1)
   for i in range(length):
       if i == length // 2:
         print(' ' * i + s1[i])
       else:
         print(s1[i] + ' ' * (length - 2) + s2[length - i - 1])
s1 = "madam"
s2 = "radar"
print_x_pattern(s1, s2)

m   r
a   a
  d
a   a
m   r

In [ ]:
#Find out the first +ve missing element from the given array
def fun(arr):
  for i in range(1,len(arr)+2):
    if i not in arr:
      return i
  return " "


arr=list(map(int,input().split()))
print(fun(arr))

1 2 4 5
3

In [ ]:
#find the smallest positive integer which is not in list of array and the smallest positive value is not in sum of two elements in array list
def fun(arr):
  arr.sort()
  s=1
  for i in arr:
    if i>s:
      break
    s=s+i
  return s

arr=list(map(int,input().split()))
print(fun(arr))

2 3 1
7

In [ ]:
#take two inputs jewels,stones  remove the duplicates in jewels and find the count of jewels in stones
j=input()
j=set(j)
print("after remove duplicates:",j)
s=input()
li=[]
count=0
for i in s:
  if i in j:
    li=li+[i]
    count=count+1
print(count)
print(li)

aaAA
after remove duplicates: {'a', 'A'}
aaAAbbAa
6
['a', 'a', 'A', 'A', 'A', 'a']

In [ ]:
#largest element in array 1 8 7 56 90  output:90 here x is max
def fun(arr):
  x=arr[0]
  for i in arr:
    if i>x:
      x=i
  return x

arr=list(map(int,input().split()))
print(fun(arr))

27 77 89 54
89

In [ ]:
#largest element in array
arr=list(map(int,input().split()))
print(max(arr))
#largest element in array
arr_1=list(map(int,input().split()))
arr_1.sort()
print("max:",arr_1[-1])

24 67 45 2 89
89
45 99 67 75 39
max: 99

In [ ]:
# find out the second largest element in the array it should not be equal to
# first largest number 12 35 1 10 34 1 if not found return -1
def fun(arr):
  x=arr[0]
  y=arr[0]
  for i in arr:
    if i>x:
      x=i
  for j in arr:
    if j>y and j!=x:
      y=j
  return -1 if y==x else y

arr=list(map(int,input().split()))
print(fun(arr))

3 3 4 2 4
3

In [ ]:
#1 2 3 4 5 6 7 output: 5 6 7 1 2 3 4 given an integer array nums, move all 0's to the end rotate k is the step of itearation
def fun(arr,k):
  for i in range(k):
    x=arr[-1]
    for j in range(len(arr)-1,0,-1):
      arr[j]=arr[j-1]
    arr[0]=x
  return arr
arr=list(map(int,input().split()))
k=int(input())
print(fun(arr,k))

1 2 3 4 5 6 7
3
[5, 6, 7, 1, 2, 3, 4]

In [ ]:
#rotate the array list 1 2 3 4 output:3 4 1 2  in k is non negitive number k=2 here 2 times the array iteraties
def fun(arr,k):
  for i in range(k):
    x=arr[0]
    for j in range(len(arr)-1):
      arr[j]=arr[j+1]
    arr[-1]=x
  return arr
arr=list(map(int,input().split()))
k=int(input())
print(fun(arr,k))

1 2 3 4 5 6 7
3
[4, 5, 6, 7, 1, 2, 3]

In [ ]:
arr=[1, 2, 3, 4, 5 ,6, 7]
for i in arr:
  x=arr[-1]
print(x)
print(arr)

7
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#print the all zeros in last of the array ip:0 1 0 3 12  o/p:1 3 12 0 0
def fun(arr):
  zero=[]
  non_zero=[]
  for i in arr:
    if i==0:
      zero=zero+[i]
    else:
      non_zero=non_zero+[i]
  return non_zero+zero
arr=list(map(int,input().split()))
print(fun(arr))

1 0 3 0 0 3 4 5
[1, 3, 3, 4, 5, 0, 0, 0]

In [ ]:
#print the all zeros in last of the array
def fun(arr):
  for i in arr:
    if i==0:
      arr.remove(i)
      arr.append(i)
  return arr
arr=list(map(int,input().split()))
print(fun(arr))

1 0 2 3 0 0 3
[1, 2, 3, 3, 0, 0, 0]

In [ ]:
#binary 1 1 1 1 0 0 1 1 1 0 0 find the max count consecutive 1's
def fun(n):
  count=0
  li=[]
  for i in range(len(n)):
    if n[i]==1:
      count=count+1
    elif n[i]==0 or n[i]==len(n)-1:
      li.append(count)
    else:
      li.append(count)
      count=0
  return max(li)
n=list(map(int,input().split()))
print(fun(n))

1 1 1 1 0 0 1 1 1 0 0
7

In [ ]:
#search the element in the list of array
def fun(arr):
    if search in arr:
      return True,"found"
    else:
      return False,"not found"

arr=list(map(int,input().split()))
search=int(input())
print(fun(arr))

2 3 4 6 78 9
4
True

In [ ]:
def fun(arr):
  for i in arr:
    if i==search:
      return True,"found"
  return False,"not found"

arr=list(map(int,input().split()))
search=int(input())
print(fun(arr))

4 6 8 9 588 4 7
588
(True, 'found')

In [ ]:
#take two arrays and remove duplicates and combine the two arrays and print the same elements also
def fun(arr1,arr2):
  x=set(arr1)
  y=set(arr2)
  print("combine",list(x.union(y)))
  print("same element",list(x.intersection(y)))
  return " "
arr1=list(map(int,input().split()))
arr2=list(map(int,input().split()))
print(fun(arr1,arr2))

1 3 4 5 7 8
2 3 6 7 9 75
combine [1, 2, 3, 4, 5, 6, 7, 8, 9, 75]
same element [3, 7]

In [ ]:
#remove the duplicate elements in the array without using the set()
def fun(arr):
  li=[]
  for i in arr:
    if i not in li:
      li.append(i)
  return li

arr=list(map(int,input().split()))
print(fun(arr))

3 4 2 3 6 2 1 8
[3, 4, 2, 6, 1, 8]

In [ ]:
#a=10 b=20 using third variable and without using temp variable
#with using third variable
a=int(input("a: "))
b=int(input("b: "))
temp=0
temp=a
a=b
b=temp
print("a:",a,"b:",b)

a: 10
b: 20
a: 20 b: 10

In [ ]:
#with out using third varible swap the two values
a=int(input("a: "))
b=int(input("b: "))
a=a+b
b=a-b
a=a-b
print("a:",a,"b:",b)

a: 10
b: 20
a: 20 b: 10

In [ ]:
#chained assignment
a=b=c=10
print("chained :",a,b,c)
#multiple assignment
x,y,z=10,20,30
print("multiple :",x,y,z)
#swapping
n,k=10,20
n,k=k,n
print("swapping:",n,k)

chained : 10 10 10
multiple : 10 20 30
swapping: 20 10

In [ ]:
#wave array
def fun(arr):
  n=len(arr)
  for i in range(1,n,2):
    if arr[i]>=arr[i-1]:
      arr[i],arr[i-1]=arr[i-1],arr[i]
    if arr[i]>=arr[i+1] and i<n-1:
      arr[i],arr[i+1]=arr[i+1],arr[i]
  return arr


n=int(input())
arr=list(map(int,input().split()))
b=set(arr)
wave=list(b)
wave.sort()
print(fun(wave))

5
1 2 3 4 5
[2, 1, 4, 3, 5]